@model ExploreMidwest.Model.Blog

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create a blog post</title>
</head>
<body>
    <div class="row">
        <div class="col-xs-3 divMain">
            <h4>Blog Category Name</h4>
            <select class="form-control" v-model="searchCategory" id="searchCategory">
                <option value="">States&nbsp;&nbsp;</option>
                <option value="new">New Category</option>
            </select>
        </div>
        <div class="col-xs-9 divMain">
            <h4>Blog Subject Name</h4>
            <div>
                <form  id="hd">
                    <input contextmenu="Text Box" />
                </form>
            </div>
        </div>
    </div>
   
    <div class="row">
        <div class="col-xs-12">
            <h4>Blog Content</h4>
            <textarea id="txtContent"></textarea>
        </div>
        <div>
            <button>Upload Image</button>
            <button>Cancel</button>
            <button>Submit</button>
        </div>
    </div>
</body>
</html>








